<header class="header">
    <div class="header__container">
        <a href="/" class="header__logo">
            <img src="/logo.svg" alt="ASGEICS Logo" />
            <span>ASGEICS INDIA</span>
        </a>

        <nav class="header__nav">
            <a href="/" class="header__nav-link">Home</a>
            <div class="header__nav-item gradient">
                <a href="#services" class="header__nav-link header__services-toggle">Services</a>
                <div class="header__submenu">
                    <a href="#commercial" class="header__submenu-link">Commercial Engineering</a>
                    <a href="#electrical" class="header__submenu-link">Electrical Engineering</a>
                    <a href="#structural" class="header__submenu-link">Structural Engineering</a>
                    <a href="#design" class="header__submenu-link">Design Services</a>
                </div>
            </div>
            <a href="/src/pages/about.html" class="header__nav-link">About</a>
            <a href="/src/pages/contact.html" class="header__nav-link">Contact</a>
        </nav>

        <div class="header__mobile-menu">
            <img src="/public/icons/bars-solid.svg" style="height: 20px; width: 20px;">
        </div>
    </div>
</header>